<%= render partial: "search" %>

  <div class="ctsTit">
    <h2>Index</h2>
    <nav>
      <%= link_to "Create user", url_for(action: :new), class: "btn btn-small btn-warning" %>
    </nav>
  </div>

  <table class="itemList contents">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Card ID</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.display_name %></td>
          <td><%= user.cardID %></td>
          <td><%= user.roles.map { |role| role.name }.join(",") %></td>
          <td>
            <%= link_to "Detail", url_for(action: :show, id: user.id), class: "btn btn-mini" %>
            <%= link_to "Edit", url_for(action: :edit, id: user.id), class: "btn btn-primary btn-mini" %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
    
  <div class="pagination">
    <div class="paginate-box no_print"><%= paginate @users %></div>
  </div>